<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" href="__PUBLIC__/Css/login.css" />
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<script type="text/javascript" src="__PUBLIC__/Js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript">
			$(function(){
				$('input[name=selectall]').click(function(){
					var inputs=$('form[name=group_rule]').find('input');
					$(this).attr('checked')?inputs.attr('checked','checked'):
					inputs.removeAttr('checked');
				});
			});
		</script>


	</head>
	<body>
		<div class="table">

			<table border="1" width="100%">
				<tr>
					<th>组名</th>
					<td>
						{$group['title']}
					</td>
				</tr>
				<form action="{:U('Admin/AUTH/setRuleHandler')}" method="post" name="group_rule" id="group_rule" class="app">
				<tr>
					<th>认证规则</th>
					<td>
						<php>
							//var_dump($group['rules']);
							//$grouprules=explode(',',$group['rules']);
							//var_dump($grouprules);
						</php>
						全选 <input  type="checkbox" id="selectall" name="selectall"/>
						<ul id="rules">
						<foreach name="rule" item="v">
							<li style="float:left; padding-right: 20px;">
								<input type="checkbox"
									   name="rules[]"  value="{$v['id']}" <php>	if (in_array($v['id'],$grouprules)) echo "checked";	</php>
								/>
								<strong>{$v['title']}</strong>
							</li>
						</foreach>
						</ul>
							<input type="hidden" name="groupid" value={$group['id']} />

					</td>
				</tr>
				<tr>
					<td colspan="2" align="center"> <input type="submit" class="submit" value="保存" id="regbt"/>
					</td>
				</tr>
				</form>
			</table>

	</div>

	</body>
</html>