<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" href="__PUBLIC__/Css/login.css" />
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<script type="text/javascript" src="__PUBLIC__/Js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript">

		</script>

	</head>
	<body>
		<div class="table">
			<form action="{:U('User/editGroupHandler')}" method="post">
			<table border="1" width="100%">
				<tr>
					<th width="30%">用户名</th>
					<td>
						{$username}
					</td>
				</tr>
				<tr>
					<th width="30%">所属用户组</th>
					<td>
						<select name="group_id">
							<option value="">请选择该用户所属的用户组</option>
							<option value="">－－－－－－－－－－－－</option>
							<foreach  name="group" item="v">
									<option value="{$v.id}">{$v.title}</option>
							</foreach>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center"> <input type="submit" class="submit" value="保存" id="regbt"/></td>
				</tr>
			</table>
				<input type="hidden" name="userid" value="{$userid}"/>
			</form>
	</div>
	</body>
</html>