<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" href="__PUBLIC__/Css/login.css" />
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<script type="text/javascript" src="__PUBLIC__/Js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript">

		</script>

	</head>
	<body>
		<div class="table">
			<table border="1" width="100%">
				<tr>
					<td width="30%">用户名</td>
					<td>操作</td>
				</tr>
				<foreach  name="list" item="v">
					<tr>
						<td>{$v.username} | {$v.logintime|date="Y-m-d",###}  | {$v.loginip} </td>
						<td><a href="{:U('User/editUserInfo')}?id={$v.id}">锁定用户</a>
							<a href="{:U('User/editUserGroup')}?id={$v.id}">设置用户所属分组</a>
							<a href="{:U('User/deluser')}?id={$v.id}">删除</a></td>
					</tr>
				</foreach>
				<tr>
					<td colspan="2"><div class="pagelist">{$page}</div></td>
				</tr>
			</table>
	</div>
	</body>
</html>